<div class="rectangular-div">Psicologos Parceiros</div>

<ion-content class="ion-no-margin">
  <ion-card
    class="ion-no-margin ion-card-no-border ion-card-no-shadow"
    id="juntar"
  ></ion-card>

  <ion-card class="ion-card-no-shadow">
    <ion-card-title>Por que me juntar ao SaudeSocial</ion-card-title>
    <ion-list lines="none">
      <ion-item>possibilidade de atender pesoas em todo o mundo</ion-item>
      <ion-item>ambiente virtual seguro</ion-item>
      <ion-item>Preços acessíveis a todos as classes</ion-item>
    </ion-list>
    <ion-card-content></ion-card-content>
  </ion-card>

  <ion-card class="ion-card-no-shadow">
    <ion-card-title>Increva-se aqui</ion-card-title>
    <ion-card class="ion-card-no-shadow" id="form">
      <ion-list lines="none">
        <ion-item>
          <ion-input
            label="Nome Completo*"
            labelPlacement="stacked"
            placeholder="Nome Completo*"
            [(ngModel)]="name"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Telefone (Whatsapp)*"
            labelPlacement="stacked"
            placeholder="Telefone (Whatsapp)*"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="E-mail*"
            labelPlacement="stacked"
            placeholder="E-mail*"
            [(ngModel)]="email"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="CRP*"
            labelPlacement="stacked"
            placeholder="CRP*"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-select
            label="Especialidades"
            label-placement="stacked"
            [multiple]="true"
          >
            <ion-select-option value="apple">Apple</ion-select-option>
            <ion-select-option value="banana">Banana</ion-select-option>
            <ion-select-option value="orange">Orange</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-select
            label="Abordagens"
            label-placement="stacked"
            [multiple]="true"
          >
            <ion-select-option value="apple">Apple</ion-select-option>
            <ion-select-option value="banana">Banana</ion-select-option>
            <ion-select-option value="orange">Orange</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-select
            label="Idiomas"
            label-placement="stacked"
            [multiple]="true"
          >
            <ion-select-option value="apple">Apple</ion-select-option>
            <ion-select-option value="banana">Banana</ion-select-option>
            <ion-select-option value="orange">Orange</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-checkbox labelPlacement="end" class="textinho"
            >Li e concordo com os
            <span class="break-text">
              termos de uso e com a politíca de privacidade</span
            ></ion-checkbox
          >
        </ion-item>
        <ion-item>
          <ion-input
            label="Senha*"
            type="password"
            labelPlacement="stacked"
            placeholder="Senha*"
            [(ngModel)]="password"
          ></ion-input>
          <ion-input
            label="Confirme sua senha*"
            type="password"
            labelPlacement="stacked"
            [(ngModel)]="check"
            placeholder="Confirme sua senha*"
          ></ion-input>
        </ion-item>
      </ion-list>
      <ion-button id="alerta" color="medium" (click)="signup()"
        >Cadastrar</ion-button
      >
    </ion-card>
    <ion-card-content></ion-card-content>
  </ion-card>
</ion-content>
