<ion-content padding>

  <!-- PsyMeet Banner Card -->
  <ion-card color="light" style="box-shadow: none; border: none;" class="ion-card-div">
    <ion-card-header>
      <ion-card-title>Psicologico online social</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" color="secondary" >Começar agora!</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Statistics Card -->
  <ion-card color="medium" style="box-shadow: none; border: none;" class="ion-card-div">
    <ion-card-content>
      <h2>3% da população faz terapia</h2>
      <p>sendo que quase</p>
      <h1>60 milhões</h1>
      <p>de brasileiros têm algum transtorno mental diagnosticado.</p>
      <p>Portal Saúde Business | 09 Jan, 2019</p>
    </ion-card-content>
  </ion-card>

  <!-- PsyMeet Info Card -->
  <ion-card color="light" style="box-shadow: none; border: none;" class="ion-card-div">
    <ion-card-content>
      <h1>A PsyMeet é referência em terapia online social</h1>
      <p>Comece sua terapia social online hoje mesmo sem sair de casa!</p>
      <ion-button expand="full" fill="outline" [routerLink]="['quero-comecar']">Clique aqui!</ion-button>
      <p>A PsyMeet Social existe para facilitar seu acesso a psicólogos treinados que estão prontos para cuidar da sua saúde mental.</p>
    </ion-card-content>
  </ion-card>

  <!-- Contact Card -->
  <ion-card color="medium" style="box-shadow: none; border: none;" class="ion-card-div">
    <ion-card-content>
      <p>Com a PsyMeet, cuidar do seu bem-estar nunca foi tão fácil! Nosso serviço de saúde mental foi construído para ser o mais simples possível.</p>
      <ion-icon name="logo-whatsapp" size="large"></ion-icon>
    </ion-card-content>
  </ion-card>

</ion-content>